<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Endouble-Api Test Suite">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/Endouble/</directory>
            <directory suffix=".php">./src/AppBundle/</directory>
            <exclude>
                <directory>./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
